<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/test.css" />
    <link rel="stylesheet" href="~/css/table.css" />
    <link rel="stylesheet" href="~/css/form.css" />
    <link rel="stylesheet" href="~/css/admin.css" />
</head>
<body>
<div class="wrapper">
    <div class="div-center">
        <img src="~/icons/RTU_MIREA_ICON.png" height="200" width="*" alt="">
    </div>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Полигон</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Панель администрирования</a>
                    </li>
                </ul>
                <div class="login-partial">
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>

    <main class="  ">
        <div class="card panel">
            @RenderBody()
        </div>
    </main>

    <footer class="footer">
        <div class="container text-center">
            &copy; @DateTime.Now.Year — MyApp
        </div>
    </footer>
</div>

@RenderSection("Scripts", required: false)
@await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>