
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    border-radius: 50%;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
#rebootRequiredMessage {
    display: none;
    margin-left: 25px;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 20px;
    background-color: #E60000;
    color: white;
    font-size: large;
    font-weight: bold;
}

.toggle-description {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    padding: 0;
    user-select: none;
    margin-bottom: 10px;
}

.toggle-description:focus,
.toggle-description:active {
    outline: none;
    box-shadow: none;
}

.description-text {
    color: #b0b7c6;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.description-text.show {
    max-height: 200px;
    opacity: 1;
}