html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-btn {
    background-color: #ccc; /* Серый фон */
    border: none; /* Убираем границы */
    border-radius: 5px; /* Делаем кнопку квадратной (убираем скругление) */
    padding: 5px; /* Уменьшаем отступы */
    width: 40px; /* Размер кнопки */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-btn:hover {
    background-color: #aaa; /* Темнее при наведении */
}